html{
    scroll-behavior: smooth;
}

footer{
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: black;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

#welcome{
  line-height: 1.5;
}

.page_container{
  position: relative;
  min-height: 100vh;
}

/* Standard syntax */
@keyframes example {
  0%   {background-color: #ffbeba;}
  25%  {background-color: #fcbaff;}
  50%  {background-color: #bad3ff;}
  75%  {background-color: #dab5ff;}
  100% {background-color: #b5ffe3;}
}

footer p{
  margin: auto auto;
  position: relative;
  top: 0px;
}

footer a:visited{
  color: white;
}

:focus{
  border: 2px solid black;
/*Add the selector and code to put a 2px black border around all elements in focus.*/
}

img:hover
    {
      -moz-box-shadow: 0 5px 20px #b2b2b2;
      -webkit-box-shadow: 0 5px 20px #b2b2b2;
      box-shadow: 0 5px 20px #b2b2b2;
    }

.contact fieldset{
  text-align: left;
  line-height: 2;
  margin: 8px 30px;
  font-size: 20px;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 5px solid black;
}
#name {
  background-color: #ff8e79;}


#message {
  background-color: #5F4B8B;
  color: white;
}

nav a{
  padding: 5px;
}

input[type=email]{
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 5px solid black;
  background-color: #88B04B;
}

input[type=submit]{
  background-color: black;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 20px 2px;
  cursor: pointer;
  font-size: 18px;
}


a h1{
  /* center header items */
  text-align: right;
  position: relative;
  top: -35px;
  left: -10px;
}

.skip a{
  background: white;
  left: 0;
  padding: 6px;
  position: absolute;/*Your code here - position relative to the parent */;
  top: -40px     /*Your code here - place 40px higher */;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
  font-size: 18px;
}

.skip a:focus{
  position: absolute;
  top:0px;
  transition: auto;
/*Add the selector and rule to move the skip link to the exact top.*/
}

header img{
  max-width: 40px;
}

nav{
  text-align: center;
  /* center nav items */
  /* change font size */
}
nav li{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  color: black;
  font-size: 18px;
  background-color: white
}

.violet nav li{
  background-color: #EEAAFE;
  color: black;
}

nav li a:visited{
  color: black;
}

nav li:hover {
  color: black;
}

nav li .active {
  color: black;
}

.current{
  border: 4px dashed blue;
}

body{
  /* background color */
  /* default text color*/
  /* margins */
  font-family: Helvetica;
  color: black;
}
.coral{
  background-color: #fcafa2;

}

.greenery{
  background-color: #88B04B;
}

.violet{
  background-color: #4f3882;
  color: white;
}

h1, h2,h3, p{
  margin: 10px;
}

.flex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  /* decide grid or flex */
}

.flex img{
  /* size images on landing page*/
  width: 300px;
  margin: 10px;
  border-radius: 8px;
}

.landing-page{
  text-align: center;
}

.landing-page h1{
  font-size: 35px;
  text-align: center;
  margin-bottom: 10px;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  color: black;
    letter-spacing: .1em;
    text-shadow:
      4px 4px 0px #d5d5d5,
      5px 5px 0px black;
}


.landing-page h2{
  font-size: 20px;
  padding-bottom: 20px;
}

/* content page formatting */
img{
  margin: 0 auto;
}

.FIRST-IMAGE img{
  display: block;
  max-width: 330px;
  margin-top: 0px;
  margin-bottom: 0px;
  border: 10px solid white;
}

.SECOND-IMAGE img{
  display: block;
  max-width: 330px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 10px solid white;
}

.THIRD-IMAGE img{
  display: block;
  max-width: 330px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 10px solid white;
}

p{
  display:block;
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

h1{
  text-align: center;
}

.lc-heading{
  font-size: 45px;
  margin-bottom: 20px;
  margin-top: 15px;
}

main h2{
  font-size: 30px;
}

main h3{
  font-size: 23px;
}

main p{
  font-size: 18px;
}
/* .lc-heading h1{ */
  /* background-attachment: fixed; /* Parallax effect */
  /* background-image: url("../images/lc-background.jpg");      /* Your code here - Link to header.jpg in the images folder */
  /* background-position: center;  /* Parallax effect */
  /* background-repeat: no-repeat; /* Parallax effect */
  /* background-size: cover;       /* Parallax effect */

  /* color: white; */
  /* height: 100px; */
  /* }                /* Parallax effect */
.flex-gallery{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.flex-gallery img{
  max-width: 320px;
  border-radius: 8px;
}

.overlay{
  display: none;}

/* tablet */
@media screen and (min-width: 768px) and (max-width: 1024px) {

  .landing-page h1{
    font-size: 35px;
    text-align: center;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    color: black;
      letter-spacing: .05em;
      text-shadow:
        5px 5px 0px #d5d5d5,
        6px 6px 0px black;
  }

  .flex{
    display: flex;
    flex-direction: row;
  }

  .flex img{
    /* size images on landing page*/
    width: 350px;
    margin: 10px;
    border-radius: 8px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  nav li{
    display: inline-block;
    padding: 10px;
  }

  header img{
    margin: 10px;
  }

  a h1{
    /* center header items */
    text-align: right;
    position: relative;
    top: -50px;
    left: -10px;
    font-size: 20px;
  }

  .landing-page h1{
  font-size: 60px;
  }

  h1, h2,h3, p{
    margin: 30px;
  }

  .lc-heading{
    font-size: 47px;
    margin-bottom: 20px;
    margin-top: 15px;
  }

  main h2{
    font-size: 40px;
  }

  main h3{
    font-size: 30px;
  }

  main p{
    font-size: 24px;
    padding-top: 2px;
  }

  .FIRST-IMAGE img{
    max-width: 400px;
  }

  .SECOND-IMAGE img{
    max-width: 400px;
  }

  .THIRD-IMAGE img{
    max-width: 400px;
  }

  .flex-gallery{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .flex-gallery img{
    border-radius: 8px;
    max-width: 365px;
    margin-bottom: 10px;
  }

  .overlay{
    display: none;
  }
}

@media screen and (min-width:800px) {
  .flex{
    display: flex;
    flex-direction: row;
  }

  .flex img{
    /* size images on landing page*/
    width: 450px;
    margin-bottom: 70px;
    border-radius: 8px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  nav li{
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    font-size: 20px;
  }

  .flex-gallery img{
    max-width: 400px;
    margin-bottom: 20px;
    border-radius: 15%;
  }

  header img{
    position: relative;
    left: 15px;
    top: 15px;
  }

  .landing-page h1{
  font-size: 60px;
  }

  .coral main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 20px;
  }

  .violet main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 20px;
  }

  .greenery main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 20px;
  }

  .first h2,h3,p{
    grid-column: 1;
    grid-row: 1;
    margin-left: 50px;
    height: 15%;
  }

  .FIRST-IMAGE {
    grid-column: 2;
    grid-row: 1;
  }

  .second h2,h3,p{
    grid-column: 2;
    grid-row: 2;
    margin-right: 50px;
    margin-left: 50px;
    height: 15%;
  }

  .SECOND-IMAGE {
    grid-column: 1;
    grid-row: 2;
  }

  .third h2,h3,p{
    grid-column: 1;
    grid-row: 3;
    margin-left: 50px;
    height: 15%;
  }

  .THIRD-IMAGE {
    grid-column: 2;
    grid-row: 3;
  }

  .skip a{
  background: white;
  left: 0;
  padding: 6px;
  position: absolute;
  top: -40px;
  -webkit-transition: top 1s auto;/* Your code here - set to default setting */
  transition: top 1s;/* Your code here - set to default setting */
  z-index: 1;
  }

  .skip a:focus{
  top:0;
  }

  .lc-heading{
    font-size: 50px;
    margin-bottom: 20px;
    margin-top: 40px;
  }

  main h2{
    font-size: 45px;
    margin-bottom: 20px;
  }

  main h3{
    font-size: 28px;
    margin-bottom: 5px;
  }

  #parallax{
    background-attachment: fixed; /* Parallax effect */
    background-image: url("../images/colorspectrum.png");      /* Your code here - Link to header.jpg in the images folder */
    background-position: center;  /* Parallax effect */
    background-repeat: no-repeat; /* Parallax effect */
    background-size: cover;       /* Parallax effect */

    color: white;
    height: 300px;                /* Parallax effect */
    width: 100%;
  }

  #parallax h1{
    position: relative;
    top: 60px;
  }

 .first p {
    margin-top: 50px;
  }

  .flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
  margin-top: 20px;
  margin-left: 20px;
}

  .flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  }
  .flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
  }
  .flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;}
  .flip-card-front {
  background-color: #bbb;
  color: black;
  }
  .flip-card-back {
    background-color: white;
    color: black;
    transform: rotateY(180deg);
  }


}

@media (prefers-reduced-motion: reduce) {
    footer {
      animation: none !important;
      color: white;
    }
    .flip-card:hover .flip-card-inner {
    transform: rotateY(0deg);
    }



  }
